.table {
  width: 100%;
  overflow-x: hidden;
  margin: 5px auto;
  .table-header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: space-between;
    width: fit-content;
    color: #0000ff;
    font-weight: 600;
    width: 100%;
    border: 1px solid #dddddd;
    span {
      padding-top: 3px;
      padding-bottom: 3px;
      display: flex;
      border-right: 1px solid #dddddd;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      &:last-child {
        border: none;
      }
    }
    span.draw-time {
      font-size: 22px;
      text-transform: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .table .table-header {
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    span {
      font-size: 8px;
    }
    span.draw-time {
      font-size: 10px;
    }
  }
}
